:root {
    --clr-primary: #0D163A;
    --clr-white: #fff;
    --clr-primary-variant: #4745A4;
    --background-color: #677483;
    --box-color: #f6f6f9;
    --icon-color: #F9BA33;  
}


.sideBar{
    height: auto;
    background-color: var(--box-color);
}

.sideBar .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 5rem;
    background-color: var(--box-color);
}

.sideBar .top-dashboard{
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    top: 1rem;
}

.sideBar .bottom-dashboard{
    position: absolute;
    bottom: 1rem;

}

.sideBar a{
    display: flex;
    color: var(--clr-primary);
    font-weight: 400;
    margin-left: 2rem;
    gap: 1.5rem;
    align-items: center;
    height: 3rem;
    transition: all .1s ease-in;
}

.sideBar a span{
    font-size: 1.5rem;
    transition: all .1s ease-in;
}

.sideBar a.active{
    color: var(--clr-primary);
    margin-left: 0;
    padding: 1.5rem;
    border-left: 3px solid var(--clr-primary-variant);
}

.sideBar a.active h3{
    font-weight: 600;
}

.sideBar a.active .material-symbols-outlined{
    color: var(--icon-color);
}

.sideBar a:hover{
    color: var(--clr-primary);
}

.sideBar a:hover h3{
    font-weight: 700;
    transition: all .1s ease-in;
}

.sideBar hr {
    border-top: 1px solid #ddd;
    margin: 3rem 0;
}